*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    position: relative;
    background-image: url("img/bg2.gif");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
}

.cont{
    width: 100%;
    background-color: rgb(13, 188, 188);
}

#logo{
    height: 85px;
    max-width:25%;
}

#headertext{
    font-size: 3vw;
    position: fixed;
    top: 20px;
    display: inline;
}

.navbar{
    clear: both;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: right;
    background-color: darkcyan;
    height: 40px;
}

.navmenu{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-right: 20px;
}

.navlink{
    list-style: none;   
}

.navitem{
    text-decoration: none;
    color: azure;
    font-size: 1.5vw;
}
.navitem:hover{
    background-color: maroon;
}
a{
    text-decoration: none;
    color: blue;
}

            /* Home */
.div01{
    margin-top: 133px;
    height: 560px;
    width: 100%;
}
.photointro{
    float: left;
    width: 35%;
    padding: 10px;
}

.intro{
    float: left;
    width: 65%;
    height: 100%;
    padding: 10px;
    margin-top: 10%;
}

.introtext{
    text-align: center;
    font-size: 5vw;
    color: aliceblue;
}

.pic1{
    max-width: 85%;
}

.aboutmebtn{
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
    font-size:x-large;
}
.aboutmebtn:hover{
    background-color: skyblue;
}
            /* End of Home */


            /* DIVISION 1 */
#div1{
    clear: both;
    height: auto; 
    margin-top: 3px;
    padding: 0;      
}

.cont2{
    float: left;
    width:30%;
    height: 100%;
    padding: 10px;
    border-right: 2px solid white;
    background-color:gray;
    overflow:auto;
    color: white;      
}

.myimage{
    text-align: center;
}

h2{
    font-size: 2vw;
}

.info{
    font-size: 1.5vw;
}

.sm{
    max-width: 75%;
    min-width: 20px;
}

.smt{
    color: darkblue;
}

.cont3{
    float: left;
    width:35%;
    height: 100%;
    padding: 10px;      
    background-color:gray;
    overflow:auto;
    color: white; 
}

.cont4{
    float: left;
    width:35%;
    height: 100%;
    padding: 10px;  
    background-color:gray;
}

#myphoto{
    max-width: 100%;
    height: auto;
}
/* END OF DIVISION 1 */

.container{
   clear: both;
    background-color: none; 
    height: 300px; 
    margin-top: 8px;
    padding: 10px;
    overflow: hidden;
    color: aliceblue;
}

.footer{
    height: auto; 
    background-color: rgb(9, 112, 112) ;
    padding: 10px;
    overflow: hidden;
    font-size: large;
}

.socmed{
    float: left;
    padding-right: 20px;
}

.contacts{
    float: left;
}

.cprt{
    clear: both;
    text-align: center;
    color: maroon;
    font-size: large;
    justify-content: center;
}

.tbl1, .tbl2{
    margin: auto; 
}

.thlogo{
    width: 70px;
}

.logo{
    width: 75%;
}

.copy{
 font-size: 1.5vw;
}

/* Responsiveness */

@media(max-width:1100px){

    .div01{
        height:525px;
        text-align: left;
    }
    .photointro{
        height: auto;
        margin: auto;
        margin-top: 1%;
    }
    .intro{
        margin-top: 20%;
        padding: 10px;
    }
}
@media(max-width:800px){

    h2{
        font-size: 30px;
    }

    .div01{
        height:500px;
        text-align: left;
    }
    .photointro{
        height: auto;
        margin: auto;
        margin-top: 10%;
    }
    .intro{
        margin-top: 25%;
        padding: 10px;
    }

    a{
        font-size: 2.5vw;
    }

    .cont2, .cont3, .cont4{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .cont2{
        border: none;
    }
    .navitem{
        font-size: 2vw;
    }

    .copy{
        font-size: 20px;
       }
}

@media(max-width:650px){

    .div01{
        height:auto;
        text-align: center;
        padding: 0px;
    }
    .photointro{
        margin-top: 0;
        width: 100%;
        height: auto; 
    }
    .pic1{
        max-width: 53%;
    }

    .intro{
        width: 100%;
        height: auto;
        margin-top: 0;
    }
    .introtext{
        font-size: 5vw;
    }

    h2{
        font-size: 20px;
    }
    .info{
        font-size: 15px;
    }
    .cont2, .cont3, .cont4{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .navitem{
        font-size: 3vw;
    }
}

@media(max-width:500px){

    .div01{
        height:auto;
        text-align: center;
        padding: 0px;
    }
    .photointro{
        padding-top: 10px ;
        padding-bottom: 10px;
        margin-top: 0;
        width: 100%;
        height: auto;
    }
    .pic1{
        max-width: 65%;
    }

    .intro{
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }
    .introtext{
        font-size: 6vw;
    }

    #headertext{
        font-size: 19px;
    }
    a{
        font-size: 2.5vw;
    }

    .cont2, .cont3, .cont4{
        width: 100%;
        height: auto;
        text-align: center;
    }

    .navitem{
        font-size: 3vw;
    }

    body{ 
        background-image: url("img/bg1.gif");  
    }

    .copy{
        font-size: 4vw;
       }
}

@media(max-width:400px){
    
    .div01{
        height:auto;
        text-align: center;
        padding: 0px;
    }
    .photointro{
        padding-top: 25px ;
        padding-bottom: 20px;
        margin-top: 0;
        width: 100%;
        height: auto;
    }
    .pic1{
        max-width: 80%;
    }

    .intro{
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }
    .introtext{
        font-size: 7vw;
    }

    .smt{
        font-size: 4vw;
    }
    .cont2, .cont3, .cont4{
        width: 100%;
        height: auto;
        text-align: center;
    }
}


@media(max-width:339px){
  
    .pic1{
        max-width: 80%;
    }

    .intro{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }
    .introtext{
        font-size: 10vw;
    }

    #headertext{
        font-size: 15px;
    }
    a{
        font-size: 3.5vw;
    }
    .navlink{
        list-style: none;   
        font-size: small;
    }
    #logo{
        height: 50px;
    }
    #div1{
        margin-top: 3px;
    }

    .cont2, .cont3, .cont4{
        width: 100%;
        height: auto;
        text-align: center;
    }

    .navitem{
        font-size: 4vw;
    }

    .copy{
        font-size: 4vw;
       }
    .div01{
        margin-top: 97px;}
}

@media(max-width:280px){
  
    .pic1{
        max-width: 100%;
    }

    .introtext{
        font-size: 10vw;
    }

    #headertext{
        font-size: 15px;
    }

    a{
        font-size: 3.5vw;
    }

    .navlink{
        list-style: none;   
        font-size: small;
    }

    .cont2, .cont3, .cont4{
        width: 100%;
        height: auto;
        text-align: center;
    }

    .copy{
        font-size: 10px;
       }
   
}




