*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
   
}

header{
    position: fixed;
    width: 100%;
    top: 0;
}

.cont{
    width: 100%;
    background-color: rgb(13, 188, 188);
}

#logo{
    height: 85px;
    max-width:25%;
}

#headertext{
    font-size: 3vw;
    position: fixed;
    top: 20px;
    display: inline;
}

.navbar{
    clear: both;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: right;
    background-color: darkcyan;
    height: 40px;
}

.navmenu{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-right: 20px;
}

li{
    list-style: none;   
}

.navitem{
    text-decoration: none;
    color: azure;
    font-size: 1.5vw;
}
.navitem:hover{
    background-color: maroon;
}
a{
    text-decoration: none;
    color: blue;
}

/* DIVISION 1 */
#div1{
    background-color: aqua; 
    height: 700px; 
    margin-top: 133px;
    padding: 0;    
}

.cont2{
    float: left;
    width:30%;
    height: 100%;
    padding: 10px;
    border-right: 2px solid black;
    background-color: aquamarine;
    
}
h2{
    font-size: 2.5vw;
}

.info{
    font-size: 1.5vw;
}

.sm{
    max-width: 75%;
    min-width: 20px;
}

.smt{
    font-size: 1vw;
}

.cont3{
    float: left;
    width:35%;
    height: 100%;
    padding: 10px;      
    background-color: lightseagreen;
}

.cont4{
    float: left;
    width:35%;
    height: 100%;
    padding: 10px;  
    background-color: blueviolet;
}

#myphoto{
    max-width: 100%;
    height: auto;
}
/* END OF DIVISION 1 */

.container{
   clear: both;
    background-color: aqua; 
    height: 700px; 
    margin-top: 8px;
    padding: 10px;
}

/* Responsiveness */

@media(max-width:800px){
    a{
        font-size: 2.5vw;
    }

    .cont2, .cont3, .cont4{
        width: 100%;
        height: auto;
        text-align: center;
    }

    .smt{
        font-size: 2vw;
    }
}

@media(max-width:650px){

    h2{
        font-size: 20px;
    }
    .info{
        font-size: 15px;
    }
    .smt{
        font-size: 2vw;
    }
    .cont2, .cont3, .cont4{
        width: 100%;
        height: auto;
        text-align: center;
    }
}

@media(max-width:500px){
    #headertext{
        font-size: 19px;
    }
    a{
        font-size: 2.5vw;
    }
    .smt{
        font-size: 2vw;
    }

    .cont2, .cont3, .cont4{
        width: 100%;
        height: auto;
        text-align: center;
    }
}

@media(max-width:400px){
    .smt{
        font-size: 4vw;
    }
    .cont2, .cont3, .cont4{
        width: 100%;
        height: auto;
        text-align: center;
    }
}


@media(max-width:339px){
  
    #headertext{
        font-size: 15px;
    }
    a{
        font-size: 3.5vw;
    }
    li{
        list-style: none;   
        font-size: small;
    }
    #logo{
        height: 50px;
    }
    #div1{
        margin-top: 99px;
    }
    .smt{
        font-size: 4vw;
    }

    .cont2, .cont3, .cont4{
        width: 100%;
        height: auto;
        text-align: center;
    }
    
}

@media(max-width:280px){
  
    #headertext{
        font-size: 15px;
    }

    a{
        font-size: 3.5vw;
    }

    li{
        list-style: none;   
        font-size: small;
    }

    .smt{
        font-size: 4vw;
    }

    .cont2, .cont3, .cont4{
        width: 100%;
        height: auto;
        text-align: center;
    }
   
}




